@import "tailwindcss";
.opened-menu{
    clip-path: 0 0 0 0;
    height: 100vw; 
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.closed-menu{
    clip-path: inset(0 0 0 100%);
}
